/**/
h5.c14 {
    font-style: italic
    }
td.c13 {
    text-align: right
    }
td.c11 {
    text-align: left
    }
tbody.c10 {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap
    }
th.c8 {
    text-align: left
    }
td.c7 {
    text-align: left
    }
th.c6 {
    font-style: italic
    }
div.c5 {
    text-align: center
    }
td.c4 {
    font-style: italic
    }
ul.c3 {
    list-style-type: none
    }
big.c2 {
    font-weight: bold
    }
h4.c1 {
    font-style: italic
    }
/**/